@import '../../styles/colors';

.FindForm {
  display: flex;
  flex-direction: column;
  padding: 10px 45px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 2px;
  background-color: $white;

  @media screen and (min-width: 601px) {
    padding: 20px 65px;
  }
}

.FindLabel {
  margin-bottom: 5px;

  @media screen and (max-width: 600px) {
    font-size: 12px;
  }
}

.FindInput {
  outline: none;
  padding: 5px 15px;
  border: 1px solid $black;
  border-radius: 2px;

  &:focus,
  &:hover {
    border: 1px solid $indigo;
    outline: none;
  }
}

.Filter-fade-enter {
  opacity: 0;
  transform: scale(0.1);
}

.Filter-fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all 250ms linear;
}

.Filter-fade-exit {
  opacity: 1;
  transform: scale(1);
}

.Filter-fade-exit-active {
  opacity: 0;
  transform: scale(0.1);
  transition: all 250ms linear;
}
