@import '../../styles/colors';

.Form {
  display: flex;
  flex-direction: column;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 10px 45px;
  margin-bottom: 20px;
  border-radius: 2px;
  background-color: $white;

  @media screen and (min-width: 601px) {
    padding: 20px 65px;
  }
}

.Label {
  margin-bottom: 5px;

  @media screen and (max-width: 600px) {
    font-size: 12px;
  }
}

.Input {
  margin-bottom: 30px;
  padding: 5px 15px;
  outline: none;
  border: 1px solid $black;
  border-radius: 2px;

  &:focus,
  &:hover {
    border: 1px solid $indigo;
    outline: none;
  }
}

.Button {
  cursor: pointer;
  padding: 8px 15px;
  background-color: $indigo;
  color: $white;
  border: none;
  border-radius: 2px;

  &:focus,
  &:hover {
    background-color: $indigo-accent;
  }
}
